#doc3 {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: yellow;
}
.navbar {  
    display: inline-block; 
    margin-left:55%;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


.navbar a :hover{
color: white;
}

.navbar li{
    display: inline;
    list-style: none;
    padding: 10px;
    }

    
.Resume{
    display: inline-block;
    text-decoration: none;
    color: #64ffda;
    padding: 9px;
    border: 2px #64ffda solid;
    border-radius: 5px;
}
.Resume a{
    text-decoration: none;
    color: #64ffda;
    font-family:Cascadia Mono;
}

.Resume a:hover{
color: white;
}

.all{

    width: 80%;
    margin : auto;
    font-family: arial;
}
.Button{
    text-decoration: none;
    color: #64ffda;
    float: left;
    padding: 15px;
    border: 1.5px #64ffda solid;
    border-radius: 5px;
    margin: auto;
  
}
.Button a{
    text-decoration: none;
    color: #64ffda;
    font-family:Cascadia Mono;
}
.Button a:hover{
color: white;
}

.footer{
   
   margin : auto;
   font-family: Cascadia Mono;
   color:white;
   text-align: center;
   font-size: 10px;
}

.header h6{

    font-family:Cascadia Mono,plain ;
    color: #64ffda;
    font-size: 18px;
}
.header h1{
    font-family: Sans-serif;
    font-size: 40px;
    color: #ccd6f6;
}
.all h3{
    margin-top:20px;
}

.all h2{
    margin-top:5%;
}
.space{
padding-top: 20px;
}

 p{
    color: #8892b0;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:#64ffda;
}
a:hover{
    color: white;
}
.all li{
 color: #8892b0;
 list-style-image: url(images/pointer.png);
 text-align: justify;
  text-justify: inter-word;
 
}

h2{

color: #e6f1ff;
}

dt{
color : #ccd6f6;
}
h3 {
    color:#64ffda;
}
.aboutme{
    width: 60%;
    float: left;
    overflow: auto;
    box-sizing: border-box
}

.mypic{
    
    float: right;
    overflow: auto;
    box-sizing: border-box
}

.moreinfo{
    box-sizing: border-box;
    overflow: auto;
    width: 60%;
    box-sizing: block;
}



    .contact {
        text-align: center;
    }
    .contact p{
        color: #8892b0;
        text-align: center;
        text-justify: none;
        width: 70%;
    margin : auto;
    }

    .emaillink{
        margin:0 auto;    
        display:block;
        width: 87px;
        text-decoration: none;
        color: #64ffda;
        padding: 15px;
        border: 1.5px #64ffda solid;
        border-radius: 5px;
    }
   
    .emaillink :hover{
    color: white;
    }