#doc3 {
    margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: yellow;
}
.all{

    width: 80%;
    margin : auto;
    font-family: arial;
}
.Button{
    text-decoration: none;
    color: #64ffda;
    float: left;
    padding: 9px;
    border: 2px #64ffda solid;
    border-radius: 4px;
    margin: auto;
}
.Button a{
    text-decoration: none;
    color: #64ffda;
}
.Button a:hover{
color: white;
}

.footer{

   float: center; 
   margin : auto;
   font-family: arial;
}

.header h6{

    font-family:Cascadia Mono,plain ;
    color: #64ffda;
    font-size: 18px;
}
.header h1{
    font-family: Sans-serif;
    font-size: 40px;
    color: #ccd6f6;
}
.space{
padding-top: 20px;
}

 p{
    color: #8892b0;
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:#64ffda;
}
li{
 color: #8892b0;
 list-style-image: url(images/pointer.png);
 text-align: justify;
  text-justify: inter-word;


 
}

h2{

color: #e6f1ff;
}

dt{
color : #ccd6f6;
}
h3 {
    color:#64ffda;
}